doctype html
html
  head
    meta(charset="utf-8")
    title archeolofi

    //-------------------------- external resources --------------------------
    mixin js_import(link)
      script(type="text/javascript", src=link)
    mixin css_link(link)
      link(rel="stylesheet", type="text/css", href=link)

    // jQuery
    +js_import("libs/jquery-1.11.1.min.js")

    // jQuery Mobile
    +css_link("libs/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.css")
    +js_import("libs/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.js")

    // Leaflet
    +css_link("libs/leaflet-0.7.3/leaflet.css")
    +js_import("libs/leaflet-0.7.3/leaflet.js")

    // ours
    +css_link("css/style.css")
    +css_link("css/buttons.css")
    +js_import("js/functions.js")
    +js_import("js/admin_functions.js")
    +js_import("js/location.js")

    //-------------------------------- buttons --------------------------------
    script.
      $(document).ready( function() {
          $("#login_button").click( function() {
              data = read_form("login");
              if(!data)
                  return;
              login(data[0], data[1]);
          });
      });

      $(document).ready( function() {
          $("#register_button").click( function() {
              data = read_form("register");
              if(!data)
                  return;
              register(data[0], data[1], data[2]);
          });
      });

      $(function() {
          $('#upload').click(function() {
              $("#result_comment").show();

              console.log($('#content_form'));
              var comment = $('#content_form #comment').val();
              if($('#content_form #file').val()) {
                  var form_data = new FormData($('#content_form')[0]);
                  upload(comment, form_data);
              }
              else
                  post_a_comment(comment);
          });
      });

      // menu buttons
      $(document).ready( function() {
          $(".menu_button").click( function() {
              $(".logout_popup").hide();
          });
      });

      $(document).ready( function() {
          $(".user_logged").click( function() {
              $(".logout_popup").show();
          });
      });

      $(document).ready( function() {
          $(".close_logout").click( function() {
              $(".logout_popup").hide();
          });
      });

      $(document).ready( function() {
          $(".yes_logout").click( function() {
              $(".logout_popup").hide();
              logged_auth = null;
              logged_name = null;
              check_if_logged_in();
          });
      });

    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    )

  body
    mixin page(page_id)
      div(id=page_id, class="page", data-role="page")
        block


    //------------------------------ home: map! ------------------------------
    +page("home")
      div#mypanel(data-role="panel", data-display="overlay", data-position="right")
        a(class="ui-corner-all", data-icon="delete", data-rel="close").
          chiudi
      //- ....

      div(data-role="header")
        a(href="#search", data-role="button", class="ui-btn-left", data-icon="search", data-inline="true").
          cerca
        h1 archeolofi
        a.menu_button(href="#mypanel", data-role="button", class="ui-btn-right", data-icon="bars", data-inline="true").
          Menù

      div#content_map(data-role="content")
        div#map.map

      div#legenda(data-theme="a", data-role="footer", data-position="fixed")
        figure
          img(src="images/area_intervento.png")
          figcaption area intervento
        figure
          img(src="images/X_grigia.png")
          figcaption età preromana
        figure
          img(src="images/X_marrone.png")
          img(src="images/linea_marrone.png")
          figcaption età romana
        figure
          img(src="images/X_rossa.png")
          img(src="images/linea_rossa.png")
          figcaption età medievale
        figure
          img(src="images/X_grigioscuro.png")
          img(src="images/linea_grigia.png")
          figcaption età moderna
        figure
          img(src="images/X_oro.png")
          figcaption indeterminabile
          

    //--------------------------------- info ---------------------------------
    +page("info")
      div(data-role="header")
        h2 Maggiori informazioni
        a(href="#home", class="ui-btn-left") Mappa

      div(data-role="content")
        div#test

        div#info_sito(class="ui-body")
          div#info_json_ritrovamento
            h3#json_definizione
              span#json_cronologia

          div#info_json_intervento
            span#json_approvazione
            span#json_catasto_foglio
            span#json_catasto_particella
            span#json_comune
            span#json_data_aggiornamento
            span#json_motiv_intervento
            span#json_nome_compilatore

          div#basic_info
          span#json_ubicazione

          div#go_to_other_type

          div#info_approfondite
            div#description
              h4 Descrizione approfondita:
              span#descri
            hr
            div#bibliography
              h4 Bibliografia:
              span#biblio
            hr
            div#gallery
              h4 Immagini:
              span#image

        div(data-role="collapsible-set")
          div#layout_contents(data-role="collapsible", data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u")
            h4 Contenuti utenti
            div.contents
            p#important è importante la tua opinione e esperienza: commenta!

          div#collaps_add_cnt(data-role="collapsible")
            h4 Aggiungi un contenuto

            div#addcontent.user_logged
              form#content_form(method="post", enctype="multipart/form-data")
                div(data-role="fieldcontain")
                  label(for="comment") Inserisci un tuo commento:
                  textarea#comment(name="comment")
                div(data-role="fieldcontain")
                  fieldset
                    label(for="file") Seleziona un file:
                    input#file(name="file" type="file")
                div(data-role="fieldcontain")
                  button#upload(type="button", data-icon="comment", data-theme="d") Pubblica

            div#login_required.user_unlogged fai login prima di aggiungere un contenuto:
              a(href="#login", data-role="button", data-theme="e") accedi

            h2#result_comment


    //----------------------------- user contents -----------------------------
    +page("user_contents")
      div(data-role="header")
        a(href="#", data-rel="back", class=["ui-btn", "ui-shadow", "ui-corner-all", "ui-icon-back", "ui-btn-icon-notext"])
        h1 Contenuti degli utenti

      div(data-role="content")
        div.page_numbers
        div.contents
        div.page_numbers
        
    //------------------------------login--------------------------------------
    +page("login")
        div(data-role="header")
            a( href="#" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-icon-back ui-btn-icon-notext")
            h2 Login
            a( href="#register" data-role="button" class="ui-btn-right"  data-inline=”true”) registrati
        div(data-role="content")
            form#user_data_login( name="login")
                div(  data-role="fieldcontain" class="ui-hide-label")
                    label( for="username") Username:
                    input#name_login( type="text" name="name_login" value="" placeholder="Username" required)
                div.ui-hide-label( data-role="fieldcontain")
                    label( for="password" ) Password:
                    input#psw_login( type="password" name="psw_login" value="" placeholder="Password" required )
                input#Login_button( type="button" data-icon="check" value="accedi" data-theme="d")
                h2#login_situation
            
    //---------------------------------credits--------------------------------
    +page("credits")
        div(data-role="header")
            a( href="#" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-icon-back ui-btn-icon-notext" )
            h2 Credits
        div(data-role="content")
            p.  
                Hanno sviluppato questa app archeologica
                <b>Francesco Marchetti</b> e <b>Emilio Veloci</b>  
            p.
                Ideazione e supervisione di
                <b>Andrea Ferracani</b> e <b>Daniele Pezzatini</b>
            p.
                Un progetto nato per il corso di Progettazione e produzione multimediale del professor <b>Alberto Del Bimbo</b>
            figure
                a( href="http://micc.unifi.it/")
                img( src="images/micc_logo.gif" alt="logo del MICC" )
                figcaption http://micc.unifi.it/
            p.
                Un ringraziamento speciale a <b>Emiliano Scampoli</b>, archeologo che ha curato, assieme a <b>Carlo Francini</b> del Comune di Firenze, la pubblicazione dei dati e la realizzazione del sito #[a( href="archeologia.comune.fi.it")archeologia.comune.fi.it] e che ci ha dato accesso ai dati aggiornati dei loro server.
            dl
                dt Contatti:
                dd emilioveloci@gmail.com
                dd francesco.marchetti@stud.unifi.it
                dd scampoli.e@gmail.com
            p.
                I dati archeologici sono scaricabili dal #[a( href="http://datigis.comune.fi.it/MapStore/") geocatalogo OpenDat ] del Comune di Firenze, cercando la parola chiave 'archeologia'.
            p.
                Icone "like" e "dislike" da #[a(href="http://dryicons.com") http://dryicons.com]
            p.
                Il codice è liberamente scaricabile da #[a( href="https://github.com/archeolofi/archeolofi")
                Non esitate a segnalare bug o problemi aprendo nuove <i>issue</i> su GitHub.
                E, chiaramente, amiamo le pull request ;)

    //------------------------------- map popups ------------------------------
    div#popup_ritrovamento(class="hidden")
      h3.pop_elem
        // definizione
      p.pop_elem
        // descrizione_min
      span#periodo.pop_elem.ritr
      span#tipologia_ritrov.pop_elem.ritr
      a#passinfo(href="#info", class="ui-btn ui-icon-plus ui-btn-icon-left", data-icon="plus").
        Altre informazioni

    div#popup_intervento(class="hidden")
      h3.pop_elem
        // tipo_intervento
      time#data_compilazione.pop_elem
      ul.pop_elem
        li metodo:
          span#metodo.pop_elem.inte
        li direzione scientifica:
          span#dir_scie.pop_elem.inte
        li ente responsabile:
          span#ente_resp.pop_elem.inte
        li ente schedatore:
          span#ente_schedatore.pop_elem.inte
        li esecutore_intervento:
          span#esecutore_intervento.pop_elem.inte
        li tipo particella:
          span#tipo_particella.pop_elem.inte

      a#passinfo(href="#info", class="ui-btn ui-icon-plus ui-btn-icon-left", data-icon="plus").
        Altre informazioni


    +js_import("js/map_functions.js")
